body {
  @include font();
  color: $text;
  background-color: $background;
}

.container {
  max-width: 88vw;
  margin: 0 auto;
}

// .logo {
//   width: 130px;
//   height: 40px;
// }

// .title {
//   @include title();
//   letter-spacing: 2px;
//   text-shadow: $text-shadow;
// }
