.tabs {
  @include flex();
  width: 8rem;
  height: 1.5rem;
  margin-top: 0.5rem;
  background-color: #ccc;
}
.tab {
  width: calc(50% - 1px);
  text-align: center;
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
  &:hover,
  &:active {
    background: linear-gradient(to top, $gradient 0%, #8ad2ff 80%);
  }
}
.active {
  background: linear-gradient(to top, $gradient 0%, #8ad2ff 80%);
}
